@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900;&display=swap')

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav{
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    position:fixed;
    z-index: 12;
}

nav .menu{
max-width: 1250px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}


.menu .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    text-decoration: none;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px; 
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover{
    background: #fff;
    color: #000;
}

.img{
    background: url(/pic/011A2926.jpg) no-repeat;
    height: 100vh;
    width:100%;
    
    background-position: center;
    background-size: cover;
    position:relative;
}
.img::before{
content:"";
position: absolute;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.1);
}

.center{
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-170%, -0%);
  
    padding: 1 20px;
    text-align: center;
}

.center .text{
    color:#fff;
    font-size: 30px;
    font-weight: 500;
}

.center .btn button{
    margin: 20px 10px;
    height:45px;
    width: 170px;
    border-radius: 24px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 400;
    padding:0 10px;
    cursor: pointer;
    outline:none;
    transition: all 0.3s ease;
    color:#fff;
    background:none;
}

.center .btn button:hover{
    background: #fff;
    color: #000;
}

.result_images img{
    width:100px;
}



/* Button used to open the contact form*/
.open-button {
  background-color: #b42c2c;
  color: rgb(126, 4, 4);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  
  z-index: 9;
  border-radius: 5%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
}

/* Add styles to the form container */
.form-container {
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: rgb(96, 74, 74);
    border-radius: 5%;
   
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e3e2de;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}